<div class="container">
  <div class="row justify-content-center ">
    <div class="col-md-auto">
      <h1>
        Welcome to
        <i class="material-icons md-36">book</i>
        <strong>Bookers</strong>
        !!
      </h1>
      <p>
      In
      <i class="material-icons md-18">book</i>
      <strong>Bookers</strong>
      you can share and exchange your opinions, inpressions, and emotions<br>
      about various books!
      </p>

      <%= link_to "Log in", new_user_session_path, class: 'btn btn-primary sign_in' %>
      <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-success sign_up' %>
    </div>
  </div>
</div>
